*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image:url(/img/imagemDeFundo.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.sobre{
    display: flex;
    position: relative;
    background: rgba(51, 27, 106, 0.6);
    width: 947px;
    height: 430px;
    text-align: right;
    border-radius: 20px;
    

    
}
.informacao{
    display: flex;
    justify-self: center;
    padding: 0px 40px;
    flex-direction: column;
    align-items: flex-end;

}
.sobre__name{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: right;
    font-size: 64px;
    width: 700px;

}
.sobre__text{
    font-family: 'Manrope', sans-serif;
    color: white;
    font-style: normal;
    font-weight: 50;
    line-height: 30px;
    text-align: right;
    
}